<div class="show-body">
  <%= turbo_frame_tag "room_content" do %>
    <div class="room-main">
      <h1><%= @room.name %></h1>
      <hr>

      <div id="chatbox" class="col-md-6 border" data-controller="chat">
        <%= turbo_frame_tag "messages" do %>
          <div class="messages" id="messages-list" data-chat-target="messages">
            <% @messages.each do |message| %>
              <%= render "messages/message", message: message %>
            <% end %>
          </div>
        <% end %>

        <div id="new_message_container">
          <%= simple_form_for [@game, @message], data: { turbo_frame: "messages" } do |f| %>
            <%= f.hidden_field :room_id, value: @room.id %>
            <%= f.input :content, required: true, placeholder: "Your Text Here", input_html: { id: "message_input" } %>
            <%= f.button :submit, 'Send', class: "button-perso my-2", style: "width: 150px" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="sidebar">
    <%= render "shared/sidebar", rooms: @rooms %>
  </div>
</div>
