<nav>
  <div class="nav nav-tabs mt-3 mx-4" id="nav-tab" role="tablist">
    <button class="nav-link active paper-folder paper-color" id="nav-chat-tab" data-bs-toggle="tab" data-bs-target="#nav-chat" type="button" role="tab" aria-controls="nav-chat" aria-selected="true">Investigation</button>
    <button class="nav-link paper-folder paper-color" id="nav-image-tab" data-bs-toggle="tab" data-bs-target="#nav-image" type="button" role="tab" aria-controls="nav-image" aria-selected="false">Inspect Room</button>
    <button class="nav-link paper-folder paper-color" id="nav-clues-tab" data-bs-toggle="tab" data-bs-target="#nav-clues" type="button" role="tab" aria-controls="nav-clues" aria-selected="false">Inventory</button>
    <button class="nav-link paper-folder paper-color" id="nav-confront-tab" data-bs-toggle="tab" data-bs-target="#nav-confront" type="button" role="tab" aria-controls="nav-confront" aria-selected="false">Confrontation</button>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-chat" role="tabpanel" aria-labelledby="nav-chat-tab" tabindex="0">
    <div class="show-body pt-3 paper-color mx-3 mb-5">
      <div class="row">
        <div class="col-10">
          <div class="room-main p-3">
            <h2>The <%= @room.name %></h2>
            <hr>

            <div id="chatbox" class="col-md-6 border" data-controller="chat">
              <%= turbo_frame_tag "messages" do %>
                <div class="messages" id="messages-list" data-chat-target="messages">
                  <% @messages.each do |message| %>
                    <%= render "messages/message", message: message %>
                  <% end %>
                </div>
              <% end %>

              <div id="new_message_container">
                <%= simple_form_for [@game, @message], data: { turbo_frame: "messages" } do |f| %>
                  <%= f.hidden_field :room_id, value: @room.id %>
                  <%= f.input :content, required: true, placeholder: "Your Text Here", input_html: { id: "message_input" } %>
                  <%= f.button :submit, 'Send', class: "button-perso my-2", style: "width: 150px" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-2">
          <div class="sidebar p-3">
            <%= render "shared/sidebar", rooms: @rooms %>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="tab-pane fade" id="nav-image" role="tabpanel" aria-labelledby="nav-image-tab" tabindex="0">
    <div class="show-body pt-3 mx-3 paper-color">
      <div class="image-holder p-3">
        <h2>The <%= @room.name%> </h2>
        <hr>
        <% if @room.item_found%>
          <img src="<%= @room.before_picture_url %>" alt="<%= @room.name%>">
        <% else %>
          <img src="<%= @room.before_picture_url %>" alt="<%= @room.name%>">
        <% end %>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="nav-clues" role="tabpanel" aria-labelledby="nav-clues-tab" tabindex="0">
  <% @game.items.each do |item| %>
    <div class="clue-container <%= item.found ? 'found' : 'not-found' %>">
      <img
        src="<%= item.picture_url %>"
        alt="Picture of <%= item.name %>"
        class="clue-image">

      <% unless item.found %>
        <div class="clue-mask">?</div>
      <% end %>
    </div>
  <% end %>
</div>

  <div class="tab-pane fade" id="nav-confront" role="tabpanel" aria-labelledby="nav-confront-tab" tabindex="0">
    <div class="pt-3 mx-3 paper-color">
      <h2>Conclusion of the investigation</h2>

      <%= form_tag confront_game_path(@game), method: :post do %>
        <select name="killer">
          <option value="">Select the killer...</option>
          <% @personas.each do |persona| %>
            <option value="<%= persona.name %>"><%= persona.name %></option>
          <% end %>
        </select>

        <select name="room">
          <option value="">Select the room...</option>
          <% @rooms.each do |room| %>
            <option value="<%= room.name %>"><%= room.name %></option>
          <% end %>
        </select>

        <select name="weapon">
          <option value="">Select the weapon...</option>
          <option value="Kitchen knife">Kitchen knife</option>
          <option value="Revolver">Revolver</option>
          <option value="Poison">Poison</option>
          <option value="Rope">Rope</option>
        </select>

      <%= submit_tag "Submit Accusation", class: "btn btn-danger" %>
      <% end %>

    </div>
  </div>

</div>
<div id="img-popup" style="display:none; position:fixed; inset:0; background:rgba(0,0,0,0.7);  justify-content:center; align-items:center; z-index:9999;">
  <img id="img-popup-img" src="" alt="" style="max-width:90vw; max-height:90vh;">
</div>
